<el-dialog :title="dialogItemTitle" :visible.sync="dialogItemVisible" width="50%" :before-close="handleClose" :close-on-press-escape="false" :close-on-click-modal="false">
    <template>
        <div class="itemDetail">
            <div class="id" style="display:none;">{{item.id}}</div>
            <div class="title"><h1>{{item.title}}</h1></div>
            <div class="type">{{item.type}}</div>
            <div align="left">
                <img :src="item.picture" style="width: 230px; height: 320px;" alt="新闻图"/>
            </div>
            <div class="price">{{item.price}}</div>
            <div>
                <el-select v-model="selectedSize" placeholder="请选择尺码">
                    <el-option v-for="size in item.sizes" :key="size" :value="size" :label="size">
                    </el-option>
                </el-select>
                <el-select v-model="selectedColor" placeholder="请选择颜色">
                    <el-option v-for="color in item.colors" :key="color" :value="color" :label="color">
                    </el-option>
                </el-select>
            </div>

        </div>
        <!--<div class="size" v-for="(size,n) in item.sizes" @click="select(index,n)">-->
                <!--<input type="radio" :name="index" :id="size" value="size">-->
                <!--<label>{{size}}</label>-->
            <!--</div>-->
            <!--<div class="color" v-for="(color,n) in item.colors" :key="'color-'+n">-->
                <!--<p>-->
                    <!--{{color}}-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    </template>
    <span slot="footer" class="dialog-footer">
        <el-button @click="dialogItemVisible = false">关 闭</el-button>
        <el-button @click="addToCarts">加入购物车</el-button>
    </span>
</el-dialog>