<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shoes.item.mapper.ItemSizeMapper">
  <resultMap id="BaseResultMap" type="cn.shoes.system.entity.ItemSize">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="size" jdbcType="VARCHAR" property="size" />
  </resultMap>
  <select id="selectByItemId" resultType="java.lang.String">
    select distinct `size`
    from tb_item_size
    where item_id = #{id}
  </select>
  <delete id="deleteByIndex" parameterType="cn.shoes.system.entity.ItemSize">
    delete from tb_item_size where item_id = #{id} and `size` = #{size}
  </delete>
</mapper>